@keyframes color-transition-3c7904fa {
    0% {
        color: var(--c-light-light-gray)
    }

    30% {
        color: var(--c-lime)
    }

    to {
        color: var(--c-dark-green)
    }
}

.footer__height-holder .path-background {
    pointer-events: none;
    z-index: 1
}

.footer__height-holder .path-background svg {
    z-index: 1
}

.footer {
    background-color: var(--c-dark-green);
    color: #fff;
    height: auto;
    overflow: hidden;
    padding: 7.8125rem 1.25rem 2.09375rem;
    pointer-events: auto;
    position: relative;
    width: 100%;
    --grid-size: 2;
    --grid-gutter: 2.564vw;
    --grid-margin: 0;
    -moz-column-gap: var(--grid-gutter, 0);
    column-gap: var(--grid-gutter, 0);
    display: grid;
    grid-template-columns: repeat(var(--grid-size), 1fr);
    margin-left: var(--grid-margin);
    margin-right: var(--grid-margin)
}

.footer-pattern {
    height: 120%;
    left: 51%;
    opacity: .1;
    pointer-events: none;
    position: absolute;
    top: 60%;
    transform: translate(-50%, -50%);
    width: auto;
    z-index: 1
}

.footer-header {
    align-items: center;
    display: flex;
    flex-direction: column;
    grid-column: span 2;
    justify-content: center
}

.footer-title {
    color: #fff;
    margin: 0 auto 2.625rem;
    text-align: center
}

.footer-title strong .--char {
    color: #fff3
}

.footer__height-holder .header-link {
    -webkit-backdrop-filter: blur(27px);
    backdrop-filter: blur(27px);
    background: #ffffff26;
    border-radius: 8px;
    color: #fff;
    font-family: var(--font-mono);
    padding: 1.5625rem 3.125rem;
    text-transform: uppercase;
    z-index: 1
}

.footer__height-holder .content-wrapper,
.footer-links {
    grid-column: span 2
}

.footer-links {
    width: 100%
}

.footer__height-holder .logo-section {
    grid-column: span 2;
    margin-bottom: 2.625rem;
    margin-top: 8.4375rem
}

.footer__height-holder .terminal-logo {
    margin-bottom: 3.75rem;
    width: 8.75rem
}

.footer__height-holder .gartner-section {
    margin-bottom: 0;
    margin-top: 0
}

.footer__height-holder .gartner-section .gartner-logo {
    display: block;
    height: auto;
    margin-bottom: 1rem;
    width: 7.5rem
}

.footer__height-holder .gartner-section .gartner-text {
    color: #fff;
    font-size: .875rem;
    font-weight: 400;
    line-height: 1.5;
    margin: 0
}

.footer__height-holder .links-wrapper {
    display: flex
}

.footer__height-holder .links-wrapper .link {
    font-size: 1.25rem;
    font-style: normal;
    font-weight: 400;
    letter-spacing: -.0125rem;
    line-height: 1.46
}

.tech-list {
    grid-column: 1/span 2
}

.company-list {
    grid-column: 3/span 2
}

.footer__height-holder .links-list {
    display: flex;
    flex: 1;
    flex-direction: column
}

.i-links {
    line-height: 1.3
}

.footer__height-holder .label {
    align-items: center;
    display: flex;
    font-family: var(--font-mono);
    font-weight: 600;
    gap: 15px;
    margin-bottom: 1.125rem;
    text-transform: uppercase
}

.footer__height-holder .label,
.footer__height-holder .link {
    color: #fff
}

.footer-contact {
    grid-column: span 2;
    margin-top: 8.125rem
}

.contact-text {
    color: #586a6a;
    margin-bottom: 1.5625rem
}

.networks-list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 5.128vw
}

.network-link {
    align-items: center;
    display: flex;
    gap: min(.521vw, 13.3333333333px);
    justify-content: flex-start
}

.network-link img {
    margin-right: 5px
}

.network-label {
    color: #fff;
    font-family: SuisseIntl;
    font-size: 1.25rem;
    letter-spacing: -.0125rem;
    line-height: 1.2
}

.copyright,
.network-label {
    font-style: normal;
    font-weight: 400
}

.copyright {
    color: #fff6;
    font-size: .75rem;
    grid-column: span 2;
    letter-spacing: -.0075rem;
    line-height: 1.24;
    margin-top: 2rem
}

.copyright p {
    width: 50%
}

.credits {
    margin-top: 1.875rem
}

.credits a {
    display: contents
}

.credits .rejouice {
    display: block;
    height: 100%;
    width: 6.25rem
}

.credits:after {
    bottom: .3125rem;
    left: unset;
    right: 0;
    width: 50%
}

.footer.--light {
    background-color: gray
}

.footer.--light .footer-title {
    color: var(--c-dark-green)
}

.footer.--light .header-link {
    background: var(--c-dark-green);
    color: var(--c-dark-green)
}

.footer.--light .terminal-logo path {
    fill: var(--c-dark-green)
}

.footer__wrapper {
    will-change: transform
}

.footer__height-holder {
    position: relative;
    z-index: 2
}

.contact-link {
    white-space: nowrap
}

.footer__height-holder.--static {
    height: auto !important;
    position: relative
}

.overlay-sticky__wrapper.--static {
    display: none
}

.footer__wrapper.--static {
    bottom: auto !important;
    position: relative !important;
    transform: none !important;
    width: 100%;
    z-index: auto !important
}

@media (min-width:1024px) {
    .footer {
        --grid-size: 12;
        --grid-gutter: min(1.042vw, 26.6666666667px);
        --grid-margin: 0;
        -moz-column-gap: var(--grid-gutter, 0);
        column-gap: var(--grid-gutter, 0);
        display: grid;
        grid-template-columns: repeat(var(--grid-size), 1fr);
        margin-left: var(--grid-margin);
        margin-right: var(--grid-margin);
        padding: 14.375rem 4.375rem 1.25rem
    }

    .footer-header {
        grid-column: span 12;
        grid-row: 1
    }

    .footer-title {
        margin-bottom: min(4.688vw, 120px);
        max-width: min(57.292vw, 1466.6666666667px)
    }

    .footer__height-holder .content-wrapper {
        grid-column: span 12;
        padding-top: min(15.625vw, 400px);
        --grid-size: 12;
        --grid-gutter: min(1.042vw, 26.6666666667px);
        --grid-margin: 0;
        -moz-column-gap: var(--grid-gutter, 0);
        column-gap: var(--grid-gutter, 0);
        display: grid;
        grid-template-columns: repeat(var(--grid-size), 1fr);
        margin-left: var(--grid-margin);
        margin-right: var(--grid-margin)
    }

    .footer-links {
        grid-column: 6/span 4;
        grid-row: 1
    }

    .footer__height-holder .logo-section {
        grid-column: 1/span 4;
        grid-row: 1;
        margin-bottom: 0;
        margin-top: 0
    }

    .footer__height-holder .terminal-logo {
        margin-bottom: 3.75rem;
        width: 10.5rem
    }

    .gartner-section {
        margin-bottom: 0;
        margin-top: 0
    }

    .gartner-section .gartner-logo {
        margin-bottom: 1.25rem;
        width: 8.75rem
    }

    .gartner-section .gartner-text {
        font-size: 1rem
    }

    .links-wrapper {
        display: grid;
        gap: min(1.042vw, 26.6666666667px);
        grid-row: 2;
        grid-template-columns: repeat(4, 1fr)
    }

    .footer__height-holder .label {
        margin-bottom: 2rem
    }

    .footer-contact {
        grid-column: 10/span 3;
        grid-row: 1;
        margin-top: 0
    }

    .networks-list {
        gap: min(1.042vw, 26.6666666667px)
    }

    .network-label {
        font-size: 1.25rem
    }

    .copyright {
        grid-column: 1/span 6;
        grid-row: 3;
        margin-top: 5.9375rem
    }

    .credits {
        align-items: flex-end;
        grid-column: 11/span 2;
        grid-row: 3;
        height: -moz-fit-content;
        height: fit-content;
        margin-left: auto;
        margin-top: auto;
        padding-bottom: 0
    }

    .overlay-sticky__wrapper {
        background-color: #000;
        height: 100vh;
        height: calc(var(--vh, 1vh)*100);
        left: 0;
        opacity: 0;
        pointer-events: none;
        top: 0;
        width: 100%;
        z-index: 2000
    }

    .footer__wrapper {
        bottom: 0;
        position: fixed;
        transform: translateY(100%);
        width: 100%;
        z-index: 3
    }

    .footer__height-holder {
        height: 50vh;
        height: 857.6px;
        width: 100%
    }
}

@media (max-width:1023px) {
    .contact-col {
        width: 22.5rem
    }

    .contact-text {
        line-height: 1.15
    }

    .credits {
        bottom: 1.875rem;
        position: absolute;
        right: 1.375rem
    }

    .footer__wrapper {
        position: relative;
        transform: translateY(0) !important
    }

    .footer__height-holder {
        height: unset !important
    }
}




@media (min-width: 1024px) {
  .overlay-sticky__wrapper {
    background-color: #000;
    height: 100vh;
    height: calc(var(--vh, 1vh)*100);
    left: 0;
    opacity: 0;
    pointer-events: none;
    top: 0;
    width: 100%;
    z-index: 2000;
  }
}

 
@media (min-width: 1024px) {
  .overlay-sticky__wrapper {
    background-color: #000;
    height: 100vh;
    height: calc(var(--vh, 1vh)*100);
    left: 0;
    opacity: 0;
    pointer-events: none;
    top: 0;
    width: 100%;
    z-index: 2000;
    opacity: 0.148316;
  }
}

@media (min-width: 1024px) {
  .footer__wrapper {
    bottom: 0;
    position: fixed;
    transform: translateY(100%);
    width: 100%;
    z-index: 3;
  }
}

@media (min-width: 1024px) {
  .footer {
    --grid-size: 12;
    --grid-gutter: min(1.042vw,26.6666666667px);
    --grid-margin: 0;
    -moz-column-gap: var(--grid-gutter,0);
    column-gap: var(--grid-gutter,0);
    display: grid;
    grid-template-columns: repeat(var(--grid-size),1fr);
    margin-left: var(--grid-margin);
    margin-right: var(--grid-margin);
    padding: 14.375rem 4.375rem 1.25rem;
  }
}
.footer {
  background-color: var(--c-dark-green);
  color: #fff;
  height: auto;
  overflow: hidden;
  padding: 7.8125rem 1.25rem 2.09375rem;
  pointer-events: auto;
  position: relative;
  width: 100%;
 
}

@media (min-width: 1024px) {
  .footer-header {
    grid-column: span 12;
    grid-row: 1;
  }
}
.footer-header {
  align-items: center;
  display: flex;
  flex-direction: column;
  grid-column: span 2;
  justify-content: center;
}

@media (min-width: 1024px) {
  .footer-title {
    margin-bottom: min(4.688vw,120px);
    max-width: min(57.292vw,1466.6666666667px);
  }
}
.footer-title {
  color: #fff;
  margin: 0 auto 2.625rem;
    margin-bottom: 2.625rem;
  text-align: center;
}
@media (min-width: 1024px) {
  .footer-title {
    font-size: max(4.375rem,min(4.688vw,120px));
    letter-spacing: min(-.141vw,-3.6px);
  }
}
.footer-title {
  font-size: 7.692vw;
  font-weight: 400;
  letter-spacing: -.077vw;
  line-height: .95;
}

 
.button-tilt{
  align-items: center;
  background: var(--c-dark-green-05);
  border-radius: 8px;
  color: var(--c-dark-green);
  display: flex;
  font-weight: 600;
  justify-content: center;
  text-align: center;
  text-transform: uppercase;
}

.footer__height-holder {
    display: none;
}