 /* Background Canvas Styles */
    .bg-canvas__wrapper {
      background-color: #052424;
      height: 100%;
      position: absolute;
      transition: background-color .23s;
      width: 100%;
      top: 0;
      left: 0;
    }

    .bg-canvas__wrapper.dark {
      background-color: #020202;
    }

    .bg-canvas__wrapper.green {
      background-color: #052424;
    }

    .bg-canvas__wrapper.white {
      background-color: #fff;
    }

    .bg-canvas__wrapper canvas {
      height: 100%;
      width: 100%;
    }

    /* Main Section Styles */
    .sticky-holder {
      min-height: 300vh;
      position: relative;
      transition: background-color 0.3s ease;
    }

    .sticky-holder.green {
      background: #052424;
      color: #fff;
    }

    .sticky-holder.white {
      background: #f5f5f5;
      color: #000;
    }

    .sticky-container {
      position: sticky;
      top: 0;
      height: 100vh;
      display: flex;
      align-items: center;
      justify-content: center;
      overflow: hidden;
    }

    .heading__wrapper {
      text-align: center;
      position: relative;
      z-index: 2;
      padding: 2rem;
    }

    .sub-title {
      font-size: 1.5rem;
      margin-bottom: 1rem;
      opacity: 0.8;
      font-weight: 300;
    }

    h2 {
      font-size: clamp(2.5rem, 8vw, 5rem);
      font-weight: 700;
      line-height: 1.2;
      margin: 0;
      position: relative;
    }

    .heading__word-wrapper {
      display: inline-block;
      margin: 0 0.2em;
    }

    .heading__word-wrapper span {
      display: inline-block;
    }

    .anchor-heading {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      font-size: clamp(4rem, 15vw, 10rem);
      font-weight: 700;
      pointer-events: none;
      white-space: nowrap;
    }

    .anchor-to {
      opacity: 0;
    }

    .anchor-letter {
      display: inline-block;
      opacity: 0;
    }

    .superscript {
      font-size: 0.5em;
      vertical-align: super;
      opacity: 0;
      transition: opacity 0.3s;
      margin-left: 0.1em;
    }

    .superscript.show {
      opacity: 1;
    }

    .hide {
      opacity: 0 !important;
    }

    .green .anchor-heading {
      color: #ffffff;
    }

    .white .anchor-heading {
      color: #000;
    }

    @media (max-width: 768px) {
      .sub-title { font-size: 1rem; }
    }

    @keyframes color-transition-15a59758 {
  0% {
    color: #ddd;
  }
  30% {
    color: #abff02;
  }
  to {
    color: #052424;
  }
}
section[data-v-15a59758] {
  height: 200svh;
  height: calc(var(--svh, 1svh) * 200);
  width: 100%;
}
section .sticky-container[data-v-15a59758] {
  display: flex;
  height: 100svh;
  height: calc(var(--svh, 1svh) * 100);
  justify-content: center;
  position: sticky;
  top: 0;
  width: 100%;
}
section .heading__wrapper[data-v-15a59758] {
  align-items: center;
  color: #fff;
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: center;
  line-height: 0.95;
  position: relative;
  row-gap: 2rem;
  text-align: center;
  transition: color 0.1s;
  width: 100%;
}
section .heading__wrapper .sub-title[data-v-15a59758] {
  font-size: 1.25rem;
  letter-spacing: -0.0125rem;
  opacity: 0.4;
}
section .heading__wrapper h2[data-v-15a59758] {
  display: flex;
  flex-wrap: wrap;
  font-size: 2.5625rem;
  justify-content: center;
  letter-spacing: -0.0025625rem;
  position: relative;
}
section .heading__wrapper h2 span[data-v-15a59758] {
  display: inline-block;
}
section .heading__wrapper h2 .heading__word-wrapper[data-v-15a59758] {
  display: inline-flex;
  position: relative;
}
section .heading__wrapper h2 .heading__word-wrapper span[data-v-15a59758] {
  display: inline-block;
}
section .heading__wrapper h2 .anchor-heading[data-v-15a59758] {
  display: inline-block;
  left: 50%;
  position: absolute;
  text-wrap: nowrap;
  top: 0;
  transform: translate(-50%);
}
section .heading__wrapper h2 .anchor-heading .anchor-letter[data-v-15a59758] {
  display: inline-block;
  font-size: 5.625rem;
  letter-spacing: 0.211875rem;
  /* margin-top: -0.625rem; */
  opacity: 0;
  transform-origin: center center;
}
section .heading__wrapper h2 .anchor-heading sup[data-v-15a59758] {
  opacity: 0;
  right: -0.5395rem;
  transition: opacity 0.2s;
}
section .heading__wrapper h2 .anchor-heading sup.show[data-v-15a59758] {
  opacity: 1;
}
section .heading__wrapper h2 sup[data-v-15a59758] {
  font-size: 0.3493125rem;
  position: absolute;
  right: -0.1165rem;
  top: 0.4191875rem;
}
section.white .sub-title[data-v-15a59758] {
  opacity: 1;
}
section.white .heading__wrapper[data-v-15a59758] {
  color: #030000;
}
.blob[data-v-15a59758],
.blob__wrapper[data-v-15a59758] {
  left: 0;
  position: absolute;
  top: 0;
}
.blob[data-v-15a59758] {
  height: 100%;
  opacity: 0;
  transition: opacity 0.2s;
  width: 100%;
}
.blob.show[data-v-15a59758] {
  opacity: 1;
  transition: opacity 1s;
}
.superscript[data-v-15a59758] {
  font-size: 2rem;
  opacity: 0;
  position: absolute;
  /* transform: translate(0.2rem); */
  transition: opacity 0.1s;
}
.superscript.show[data-v-15a59758] {
  opacity: 1;
}
@media (min-width: 768px) {
  section .heading__wrapper h2 span span.hide[data-v-15a59758] {
    opacity: 0 !important;
  }
}
@media (min-width: 1024px) {
  .sub-title {
      font-size: 1.5rem;
      margin-bottom: 4rem;
      opacity: 0.8;
      font-weight: 300;
    }
  section .heading__wrapper h2[data-v-15a59758] {
    display: inline-block;
    font-size: 5.3125rem;
    letter-spacing: -0.059375rem;
    margin-top: 0.9375rem;
  }
  section .heading__wrapper h2 .anchor-heading[data-v-15a59758] {
    margin-top: -0.9375rem;
  }
  section .heading__wrapper h2 .anchor-heading .anchor-letter[data-v-15a59758] {
    font-size: 11.25rem;
    letter-spacing: -0.125rem;
  }
  section .heading__wrapper h2 .anchor-heading sup[data-v-15a59758] {
    right: -1.25rem;
  }
  section .heading__wrapper h2 sup[data-v-15a59758] {
    font-size: 0.809375rem;
    right: -0.27rem;
    top: 0.97125rem;
  }
  .superscript[data-v-15a59758] {
    font-size: 3rem;
    right: -0.7rem;
    top: 0.4rem;
    transform: translate(100%);
  }
}
@media (min-width: 1034px) {
  section .heading__wrapper h2[data-v-15a59758] {
    font-size: 5.9375rem;
  }
}
@media (min-width: 1280px) {
  section .heading__wrapper h2[data-v-15a59758] {
    font-size: 6.875rem;
    letter-spacing: -0.06875rem;
  }
  section .heading__wrapper h2 .anchor-heading .anchor-letter[data-v-15a59758] {
    font-size: 11.3125rem;
    letter-spacing: -0.125rem;
  }
  section .heading__wrapper h2 .anchor-heading sup[data-v-15a59758] {
    right: -0.9375rem;
  }
  section .heading__wrapper h2 sup[data-v-15a59758] {
    font-size: 0.9375rem;
    right: -0.3125rem;
    top: 1.125rem;
  }
}

/* Updated sizes for LOX letters */
section .heading__wrapper h2 .anchor-heading .anchor-letter[data-v-15a59758] {
  display: inline-block;
  font-size: 10rem; /* Increased from 5.625rem */
  letter-spacing: 0.5rem; /* Increased spacing */
  opacity: 0;
  transform-origin: center center;
}

@media (min-width: 1024px) {
  section .heading__wrapper h2 .anchor-heading .anchor-letter[data-v-15a59758] {
    font-size: 18rem; /* Increased from 11.25rem */
    letter-spacing: 1rem; /* Increased spacing */
  }
  
  .superscript[data-v-15a59758] {
    font-size: 5rem; /* Increased from 3rem */
    right: -1rem;
    top: 1rem;
    transform: translate(100%);
  }
}

@media (min-width: 1280px) {
  section .heading__wrapper h2 .anchor-heading .anchor-letter[data-v-15a59758] {
    font-size: 20rem; /* Increased from 11.3125rem */
    letter-spacing: 1.2rem;
  }
  
  .superscript[data-v-15a59758] {
    font-size: 6rem;
    right: -1.2rem;
    top: 1.5rem;
  }
}

.yard-description{
  padding: 90px 167px;
  padding-top: 270px;
}