@keyframes color-transition-f489094c {
    0% {
        color: var(--c-light-light-gray)
    }

    30% {
        color: var(--c-lime)
    }

    to {
        color: var(--c-dark-green)
    }
}

.features-grid[data-v-f489094c] {
    color: var(--c-dark-green);
    display: flex;
    flex-direction: column
}

.feature[data-v-f489094c] {
    grid-template-areas: "a a a a a a" "b b b b b b";
    --grid-size: 2;
    --grid-gutter: 2.564vw;
    --grid-margin: 0;
    -moz-column-gap: var(--grid-gutter,0);
    column-gap: var(--grid-gutter,0);
    display: grid;
    grid-template-columns: repeat(var(--grid-size),1fr);
    margin-left: var(--grid-margin);
    margin-right: var(--grid-margin)
}

.feature-content[data-v-f489094c] {
    grid-area: b;
    place-self: center stretch;
    width: 100%
}

.feature-content-inner[data-v-f489094c] {
    display: flex;
    flex-direction: column;
    gap: 2rem 0;
    padding: 4rem 5.128vw 3.75rem
}

.feature-title[data-v-f489094c] {
    display: inline-grid;
    font-weight: 400;
    gap: .5rem
}

.feature-title-text[data-v-f489094c] {
    grid-column-start: 1;
    grid-row-start: 2
}

.feature-index[data-v-f489094c] {
    color: var(--c-light-gray);
    font-family: var(--font-mono);
    grid-column-start: 1;
    grid-row-start: 1;
    width: -moz-fit-content;
    width: fit-content
}

.feature-image[data-v-f489094c] {
    aspect-ratio: 390/610;
    grid-area: a;
    overflow: hidden;
    will-change: transform
}

.feature-image .image-transform[data-v-f489094c],.feature-image .image-wrapper[data-v-f489094c] {
    height: 100%;
    left: 0;
    overflow: hidden;
    position: absolute;
    top: 0
}

.feature-image .image-wrapper[data-v-f489094c] {
    width: calc(100% - 1px)
}

.feature-image .image-transform[data-v-f489094c] {
    transform: scale(1.1);
    width: 100%
}

.feature-image .image[data-v-f489094c] {
    -o-object-fit: cover;
    object-fit: cover;
    -o-object-position: center;
    object-position: center
}

.feature-image .image[data-v-f489094c],.svg-mask[data-v-f489094c],.svg-mask[data-v-f489094c] .slot {
    height: 100%;
    width: 100%
}

.features-grid-button[data-v-f489094c] {
    align-items: center;
    display: flex;
    flex-direction: column;
    gap: 1.25rem;
    padding-bottom: 5.128vw;
    padding-left: 5.128vw;
    padding-right: 5.128vw;
    width: 100%
}

.features-grid-button__cta[data-v-f489094c] {
    align-items: center;
    display: flex;
    justify-content: center;
    padding: 1.5rem!important
}

.feature-label-advanced[data-v-f489094c] {
    color: var(--c-light-gray);
    font-family: var(--font-mono);
    font-size: .8125rem!important;
    margin-bottom: 0
}

.feature-title-advanced[data-v-f489094c] {
    font-weight: 400;
    line-height: normal;
    margin-top: 0
}

.feature-content-inner--advanced[data-v-f489094c] {
    gap: 1.5rem
}

.feature-content-inner--advanced .feature-label-advanced[data-v-f489094c] {
    margin-bottom: 0
}

.feature-content-inner--advanced .feature-title-advanced[data-v-f489094c] {
    margin-bottom: 0;
    margin-top: 0
}

.feature-content-inner--advanced[data-v-f489094c] p {
    font-size: 1.25rem;
    font-weight: 400;
    line-height: 1.35;
    margin: 0 0 1.5rem
}

.feature-content-inner--advanced[data-v-f489094c] p:last-child {
    margin-bottom: 0
}

.feature-content-inner--advanced[data-v-f489094c] .features-grid-list {
    color: var(--c-gray);
    display: flex;
    flex-direction: column;
    font-size: 1.25rem;
    font-weight: 400;
    gap: .75rem;
    letter-spacing: -.0125rem;
    line-height: 1.35;
    list-style: none;
    margin: 0;
    padding: 0
}

.feature-content-inner--advanced[data-v-f489094c] .features-grid-list li {
    color: inherit;
    font-size: inherit;
    font-weight: inherit;
    letter-spacing: inherit;
    line-height: inherit;
    list-style: none;
    margin-bottom: 0;
    margin-left: 1.25rem;
    margin-top: 0;
    padding: 0 0 0 .625rem;
    position: relative
}

.feature-content-inner--advanced[data-v-f489094c] .features-grid-list li span {
    color: inherit;
    font-size: inherit;
    font-weight: inherit;
    letter-spacing: inherit;
    line-height: inherit
}

.feature-content-inner--advanced[data-v-f489094c] .features-grid-list--unordered li:before {
    background-color: var(--c-dark-green);
    border-radius: 50%;
    content: "";
    height: .375rem;
    left: -.625rem;
    position: absolute;
    top: .5em;
    width: .375rem
}

.feature-content-inner--advanced[data-v-f489094c] .features-grid-list--ordered {
    counter-reset: features-counter
}

.feature-content-inner--advanced[data-v-f489094c] .features-grid-list--ordered li {
    counter-increment: features-counter
}

.feature-content-inner--advanced[data-v-f489094c] .features-grid-list--ordered li:before {
    color: var(--c-light-gray);
    content: counter(features-counter);
    font-family: var(--font-mono);
    left: -.625rem;
    position: absolute;
    top: 0
}

@media (min-width: 480px) {
    .features-grid-button__cta[data-v-f489094c] {
        max-width:25rem;
        padding: 1.5rem 7.375rem 1.4375rem!important
    }
}

@media (min-width: 1024px) {
    .features-grid[data-v-f489094c] {
        gap:2rem;
        overflow: clip;
        padding: 0 min(3.646vw,93.3333333333px) 1.875rem
    }

    .feature[data-v-f489094c] {
        --grid-size: 12;
        --grid-gutter: min(1.042vw,26.6666666667px);
        --grid-margin: 0;
        -moz-column-gap: var(--grid-gutter,0);
        column-gap: var(--grid-gutter,0);
        display: grid;
        grid-template-areas: "a a a a a a . b b b b b";
        grid-template-columns: repeat(var(--grid-size),1fr);
        margin-left: var(--grid-margin);
        margin-right: var(--grid-margin)
    }

    .feature[data-v-f489094c]:nth-of-type(odd) {
        grid-template-areas: "b b b b b . a a a a a a"
    }

    .feature-content-inner[data-v-f489094c] {
        gap: 2.85rem 4.375rem;
        padding: 0
    }

    .feature-title-text[data-v-f489094c] {
        grid-row-start: 1
    }

    .feature-index[data-v-f489094c] {
        font-size: min(.677vw,17.3333333333px);
        letter-spacing: min(.122vw,3.12px);
        transform: translate(calc(-100% - min(1.042vw,26.6666666667px)),min(1.406vw,36px))
    }

    .feature-image[data-v-f489094c] {
        aspect-ratio: 960/870;
        width: calc(100% + 5.128vw)
    }

    .feature:nth-of-type(odd) .feature-image[data-v-f489094c] {
        border-bottom-left-radius: 1.25rem;
        border-top-left-radius: 1.25rem
    }

    .feature:nth-of-type(2n) .feature-image[data-v-f489094c] {
        border-bottom-right-radius: 1.25rem;
        border-top-right-radius: 1.25rem;
        translate: -5.128vw 0
    }

    .features-grid-button[data-v-f489094c] {
        padding-top: 2rem
    }

    .feature-label-advanced[data-v-f489094c] {
        font-size: .8125rem!important
    }

    .feature-content-inner--advanced[data-v-f489094c] {
        gap: 2rem
    }

    .feature-content-inner--advanced[data-v-f489094c] p {
        font-size: 1.4375rem;
        letter-spacing: -.014375rem;
        line-height: 1.26;
        margin-bottom: 1.5rem
    }

    .feature-content-inner--advanced[data-v-f489094c] .features-grid-list {
        font-size: 1.4375rem;
        gap: .75rem;
        letter-spacing: -.014375rem;
        line-height: 1.26
    }

    .feature-content-inner--advanced[data-v-f489094c] .features-grid-list li {
        margin-left: 1.5rem;
        padding-left: .65625rem
    }

    .feature-content-inner--advanced[data-v-f489094c] .features-grid-list--unordered li:before {
        left: -.90625rem
    }

    .feature-content-inner--advanced[data-v-f489094c] .features-grid-list--ordered li:before {
        left: -.90625rem
    }
}
