@keyframes color-transition-37cf64d6 {
    0% {
        color: var(--c-light-light-gray)
    }

    30% {
        color: var(--c-lime)
    }

    to {
        color: var(--c-dark-green)
    }
}

.inner[data-v-37cf64d6] {
    --grid-gutter: 2.564vw;
    --grid-margin: 5.128vw;
    -moz-column-gap: var(--grid-gutter,0);
    column-gap: var(--grid-gutter,0);
    display: grid;
    grid-template-columns: repeat(var(--grid-size),1fr);
    margin-left: var(--grid-margin);
    margin-right: var(--grid-margin);
    position: relative;
    --grid-size: 1
}

.form[data-v-37cf64d6] {
    display: flex;
    flex-direction: column;
    max-width: 55.625rem;
    width: 100%
}

.field-row[data-v-37cf64d6] {
    display: flex;
    gap: 1.25rem;
    margin-bottom: 2.1875rem
}

.field-row .field-wrapper[data-v-37cf64d6] {
    flex: 1;
    margin-bottom: 0
}

.field-wrapper[data-v-37cf64d6] {
    display: flex;
    flex-direction: column;
    font-weight: 450;
    margin-bottom: 2.1875rem
}

.field-wrapper.email-field[data-v-37cf64d6] {
    margin-bottom: .75rem
}

.label[data-v-37cf64d6] {
    flex: 0 0 auto;
    font-size: 1.125rem;
    font-weight: 400;
    letter-spacing: .0225rem;
    padding-bottom: .5rem;
    text-align: left
}

.field[data-v-37cf64d6] {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background-clip: padding-box;
    background-color: transparent;
    border: none;
    border-bottom: 1px solid var(--c-dark-green-20);
    border-radius: 0;
    flex: 1 1 100%;
    outline: none;
    padding-bottom: 12px
}

.field[data-v-37cf64d6]::-moz-placeholder {
    color: #05242480;
    font-size: 1.125rem;
    font-weight: 400;
    letter-spacing: .0225rem
}

.field[data-v-37cf64d6]::placeholder {
    color: #05242480;
    font-size: 1.125rem;
    font-weight: 400;
    letter-spacing: .0225rem
}

.field[data-v-37cf64d6]:is([type=text],[type=email]) {
    translate: 0 -.1em
}

.privacy-notice[data-v-37cf64d6] {
    margin-bottom: 2.1875rem
}

.privacy-notice .small-text[data-v-37cf64d6] {
    color: #05242480;
    font-size: .875rem;
    font-weight: 400;
    line-height: 1.4;
    text-align: left
}

.button-send[data-v-37cf64d6] {
    align-self: center;
    max-width: 18.875rem;
    min-width: 11.875rem
}

.message-wrapper[data-v-37cf64d6] {
    color: #05242480;
    font-size: 1rem;
    line-height: 1;
    margin-top: 2.375rem;
    text-align: center
}

input[data-v-37cf64d6]:-webkit-autofill,select[data-v-37cf64d6]:-webkit-autofill,textarea[data-v-37cf64d6]:-webkit-autofill {
    box-shadow: inset 0 0 0 1000px #fff;
    -webkit-text-fill-color: var(--c-dark-green);
    caret-color: var(--c-dark-green);
    -webkit-transition: background-color 5000s ease-in-out 0s;
    transition: background-color 5000s ease-in-out 0s
}

@media (min-width: 1024px) {
    .subscribe-form[data-v-37cf64d6] {
        padding:5rem 0
    }

    .inner[data-v-37cf64d6] {
        --grid-gutter: min(1.042vw,26.6666666667px);
        --grid-margin: min(3.646vw,93.3333333333px);
        -moz-column-gap: var(--grid-gutter,0);
        column-gap: var(--grid-gutter,0);
        display: grid;
        grid-template-columns: repeat(var(--grid-size),1fr);
        margin-left: var(--grid-margin);
        margin-right: var(--grid-margin);
        --grid-size: 12;
        justify-items: center
    }

    .form[data-v-37cf64d6] {
        grid-column: 3/11
    }
}

@media (max-width: 767px) {
    .field-row[data-v-37cf64d6] {
        flex-direction:column;
        gap: 2.1875rem
    }
}

@media (hover: hover) and (pointer:fine) {
    .button-send[data-v-37cf64d6]:hover {
        cursor:pointer
    }
}

@keyframes color-transition-184db619 {
    0% {
        color: var(--c-light-light-gray)
    }

    30% {
        color: var(--c-lime)
    }

    to {
        color: var(--c-dark-green)
    }
}

.title-sequence[data-v-184db619] {
    font-size: 3.625rem;
    font-style: normal;
    width: 90%
}

.title-h1[data-v-184db619],.title-sequence[data-v-184db619] {
    font-weight: 400;
    line-height: .95
}

.title-h1[data-v-184db619] {
    font-size: 10.256vw;
    letter-spacing: -.308vw
}

.header[data-v-184db619] h2,.title-si[data-v-184db619] {
    font-size: min(2.5rem,10.256vw);
    font-weight: 400;
    letter-spacing: min(-.075rem,-.308vw);
    line-height: 1
}

.title-h2[data-v-184db619] {
    font-size: min(2rem,8.205vw);
    letter-spacing: min(-.039375rem,-.164vw);
    line-height: 1.2
}

.title-h3[data-v-184db619] {
    font-size: min(1.5rem,6.154vw);
    letter-spacing: min(-.0225rem,-.092vw);
    line-height: 146%
}

.title-h4[data-v-184db619] {
    font-size: min(1.25rem,5.128vw);
    letter-spacing: min(-.01875rem,-.077vw);
    line-height: 1.46
}

.body-1[data-v-184db619] {
    font-size: min(1.4375rem,5.897vw);
    letter-spacing: min(-.014375rem,-.059vw)
}

.body-1[data-v-184db619],.body-2[data-v-184db619] {
    line-height: 1.26
}

.body-2[data-v-184db619] {
    letter-spacing: -.01em
}

.body-2[data-v-184db619],.body-3[data-v-184db619] {
    font-size: 1.25rem
}

.body-3[data-v-184db619] {
    letter-spacing: -.0125rem;
    line-height: 1.46
}

.body-4[data-v-184db619] {
    letter-spacing: .0225rem;
    line-height: 1.4
}

.body-4[data-v-184db619],.body-5[data-v-184db619] {
    font-size: 1.125rem
}

.body-5[data-v-184db619] {
    font-weight: 500
}

.body-5[data-v-184db619],.body-6[data-v-184db619] {
    line-height: 1.35
}

.body-6[data-v-184db619] {
    font-size: .875rem;
    font-weight: 400
}

.body-8[data-v-184db619] {
    font-size: 1.0625rem;
    line-height: 1.54
}

.label-1[data-v-184db619] {
    letter-spacing: -.02em;
    line-height: .81
}

.label-1[data-v-184db619],.label-2[data-v-184db619] {
    font-size: .9375rem
}

.label-2[data-v-184db619] {
    letter-spacing: .05em;
    line-height: 1.1
}

.label-3[data-v-184db619] {
    font-size: .8125rem
}

.label-3[data-v-184db619],.label-4[data-v-184db619] {
    letter-spacing: .18em;
    line-height: .81
}

.label-4[data-v-184db619] {
    font-size: .6875rem
}

.label-5[data-v-184db619] {
    font-size: 1.0625rem;
    letter-spacing: -.0106rem;
    line-height: .95
}

.label-6[data-v-184db619] {
    font-size: .75rem;
    letter-spacing: .16em;
    line-height: 1
}

.footer-title[data-v-184db619] {
    font-size: 7.692vw;
    font-weight: 400;
    letter-spacing: -.077vw;
    line-height: .95
}

.mono-number[data-v-184db619] {
    color: var(--c-light-gray);
    font-family: var(--font-mono);
    font-size: .8125rem;
    font-weight: 600;
    letter-spacing: .14625rem;
    line-height: .81
}

.menu-typo[data-v-184db619] {
    font-size: min(2.875rem,11.795vw);
    font-weight: 450;
    letter-spacing: min(-.02875rem,-.118vw);
    line-height: 1.2
}

.font-nav[data-v-184db619] {
    font-size: .875rem;
    font-style: normal;
    font-weight: 450;
    letter-spacing: .02625rem;
    line-height: 100%
}

.section__wrapper[data-v-184db619] {
    position: relative;
    z-index: 1
}

.section__wrapper.has-bg-path .section-introduction[data-v-184db619] {
    padding: 5rem 1.25rem
}

.section__wrapper.next-to-logos .section-introduction[data-v-184db619] {
    margin-top: -11.25rem;
    min-height: 90svh;
    min-height: calc(var(--svh, 1svh)*90);
    padding: 11.25rem 1.25rem
}

.section__wrapper.is-fullscreen .section-introduction[data-v-184db619] {
    min-height: 90svh;
    min-height: calc(var(--svh, 1svh)*90);
    padding: 7.5rem 1.25rem
}

.section-introduction.last-si-hp[data-v-184db619] {
    padding: 0!important
}

.background-wrapper[data-v-184db619] {
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 0
}

.background-wrapper .path-background[data-v-184db619] {
    height: 100%
}

.background-image-wrapper[data-v-184db619] {
    height: 100%;
    left: 0;
    overflow: hidden;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 0
}

.background-image-wrapper .background-image[data-v-184db619] {
    height: 100%;
    -o-object-fit: cover;
    object-fit: cover;
    -o-object-position: center;
    object-position: center;
    width: 100%
}

.background-canvas-wrapper[data-v-184db619] {
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 1
}

.background-canvas-wrapper.has-background-image[data-v-184db619] .bg-canvas__wrapper {
    background-color: transparent!important
}

.dark-backdrop[data-v-184db619] {
    background: #0006;
    height: 100%;
    top: 0
}

.bottom-gradient[data-v-184db619],.dark-backdrop[data-v-184db619] {
    left: 0;
    pointer-events: none;
    position: absolute;
    width: 100%;
    z-index: 1
}

.bottom-gradient[data-v-184db619] {
    background: linear-gradient(0deg,#1d1d1d 0,#1d1d1dbf 35%,#1d1d1d00);
    bottom: 0;
    height: 40%;
    transition: opacity .3s ease
}

.section__wrapper:not(.has-dark-theme) .bottom-gradient[data-v-184db619] {
    opacity: 0
}

.section-introduction[data-v-184db619] {
    display: flex;
    flex-direction: column;
    justify-content: center;
    justify-items: center;
    padding: 3.875rem 1.25rem;
    position: relative;
    text-align: center;
    z-index: 2
}

.section__wrapper.has-dark-theme .label[data-v-184db619] {
    color: #c2c2c2
}

.section__wrapper.has-dark-theme .header[data-v-184db619] h2,.section__wrapper.has-dark-theme .header[data-v-184db619] h3,.section__wrapper.has-dark-theme .paragraphs-wrapper[data-v-184db619] p {
    color: var(--c-white)
}

.section-content[data-v-184db619] {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0 auto 4rem;
    max-width: unset
}

.label[data-v-184db619] {
    color: var(--c-light-gray);
    margin-bottom: 1rem
}

.header[data-v-184db619] {
    margin: 0 auto;
    text-wrap: balance
}

.header.spacing[data-v-184db619] {
    margin: 0 auto 2rem
}

.header[data-v-184db619] h2 {
    font-weight: 400
}

.header[data-v-184db619] h3 {
    font-size: 2.875rem;
    font-style: normal;
    font-weight: 400;
    letter-spacing: -.02875rem;
    line-height: 120%
}

.header[data-v-184db619] strong {
    color: #eee
}

.paragraphs-wrapper[data-v-184db619] {
    margin: 0 auto;
    max-width: 18.75rem;
    width: 100%
}

.paragraphs-wrapper[data-v-184db619] p {
    text-align: unset
}

.paragraphs-wrapper.wide[data-v-184db619] {
    max-width: 55rem
}

.paragraphs-wrapper.multiple[data-v-184db619] {
    -moz-column-count: 1;
    column-count: 1;
    -moz-column-gap: 3.5rem;
    column-gap: 3.5rem;
    max-width: 100%;
    text-align: left
}

.buttons[data-v-184db619] {
    align-items: center;
    display: flex;
    flex-direction: column;
    gap: .9375rem;
    margin: 0 auto;
    width: calc(100% - 1.25rem)
}

.buttons.buttons-underlined[data-v-184db619] {
    margin-top: 0
}

.buttons .button[data-v-184db619] {
    height: -moz-fit-content;
    height: fit-content
}

.content-blocks[data-v-184db619] {
    margin-top: 2rem;
    width: 100%
}

.content-blocks[data-v-184db619] .sections-grid {
    background: transparent!important;
    padding-bottom: 0;
    padding-top: 0
}

@media (min-width: 768px) {
    .header[data-v-184db619] h2,.title-si[data-v-184db619] {
        font-size:min(3.125rem,12.821vw);
        letter-spacing: min(-.075rem,-.308vw)
    }

    .header[data-v-184db619] {
        max-width: 70%
    }

    .paragraphs-wrapper[data-v-184db619] {
        max-width: 37.5rem
    }

    .paragraphs-wrapper.multiple[data-v-184db619] {
        max-width: 68.5rem
    }

    .buttons[data-v-184db619] {
        max-width: 50%
    }
}

@media (min-width: 1024px) {
    .title-sequence[data-v-184db619] {
        width:100%
    }

    .title-h1[data-v-184db619],.title-sequence[data-v-184db619] {
        font-size: min(5.729vw,146.6666666667px);
        letter-spacing: min(-.057vw,-1.4666666667px)
    }

    .header[data-v-184db619] h2,.title-si[data-v-184db619] {
        font-size: max(4.375rem,min(4.688vw,120px));
        letter-spacing: min(-.141vw,-3.6px)
    }

    .title-h2[data-v-184db619] {
        font-size: min(2.396vw,61.3333333333px);
        letter-spacing: min(-.024vw,-.6133333333px);
        line-height: .96
    }

    .title-h3[data-v-184db619],.title-h4[data-v-184db619] {
        font-size: min(1.563vw,40px);
        letter-spacing: min(-.016vw,-.4px)
    }

    .body-1[data-v-184db619] {
        font-size: min(1.198vw,30.6666666667px);
        letter-spacing: min(-.012vw,-.3066666667px)
    }

    .body-5[data-v-184db619] {
        font-size: 1.4375rem
    }

    .body-6[data-v-184db619] {
        font-size: 1.125rem;
        letter-spacing: .0225rem
    }

    .body-8[data-v-184db619] {
        font-size: 1.4375rem;
        line-height: 1.35
    }

    .label-2[data-v-184db619] {
        line-height: .81
    }

    .label-5[data-v-184db619] {
        font-size: 1.25rem;
        letter-spacing: -.0125rem
    }

    .label-6[data-v-184db619] {
        font-size: .6875rem;
        letter-spacing: .11rem
    }

    .footer-title[data-v-184db619] {
        font-size: max(4.375rem,min(4.688vw,120px));
        letter-spacing: min(-.141vw,-3.6px)
    }

    .section__wrapper.has-bg-path .section-introduction[data-v-184db619] {
        padding: 9.0625rem 4.375rem
    }

    .section__wrapper.next-to-logos .section-introduction[data-v-184db619] {
        margin-top: calc(-18.75rem + min(11.979vw,306.6666666667px));
        padding: 26.75rem 4.375rem
    }

    .section-introduction[data-v-184db619],.section__wrapper.is-fullscreen .section-introduction[data-v-184db619] {
        padding: 9.0625rem 4.375rem
    }

    .section-content[data-v-184db619] {
        margin: unset
    }

    .label[data-v-184db619] {
        margin-bottom: 2rem
    }

    .header.spacing[data-v-184db619] {
        margin: 0 auto 3.375rem
    }

    .header[data-v-184db619] {
        max-width: min(64.844vw,1660px)
    }

    .paragraphs-wrapper[data-v-184db619] {
        max-width: min(31.25vw,800px)
    }

    .paragraphs-wrapper.multiple[data-v-184db619] {
        -moz-column-count: 2;
        column-count: 2;
        -moz-column-gap: 3.25rem;
        column-gap: 3.25rem
    }

    .buttons[data-v-184db619] {
        flex-direction: row;
        gap: 1.25rem;
        justify-content: center;
        margin-top: 5.625rem;
        max-width: unset;
        width: unset
    }

    .buttons .button[data-v-184db619] {
        width: -moz-fit-content;
        width: fit-content
    }

    .content-blocks[data-v-184db619] {
        margin-top: 3rem
    }

    .content-blocks[data-v-184db619] .sections-grid {
        padding-bottom: 0;
        padding-top: 0
    }
}

@media (min-width: 1440px) {
    .paragraphs-wrapper.multiple[data-v-184db619] {
        -moz-column-count:2;
        -moz-column-gap: 3.5rem;
        column-gap: 3.5rem;
        -moz-column-width: 520px;
        columns: 520px 2
    }
}

@media (max-width: 1023px) {
    .header[data-v-184db619] br {
        display:none
    }
}
