@keyframes color-transition-bc58d070 {
    0% {
        color: var(--c-light-light-gray)
    }

    30% {
        color: var(--c-lime)
    }

    to {
        color: var(--c-dark-green)
    }
}

.path-background[data-v-bc58d070] {
    pointer-events: none;
    z-index: 1
}

.path-background[data-v-bc58d070] svg {
    z-index: 1
}

.footer[data-v-bc58d070] {
    background-color: var(--c-dark-green);
    color: #fff;
    height: auto;
    overflow: hidden;
    padding: 7.8125rem 1.25rem 2.09375rem;
    pointer-events: auto;
    position: relative;
    width: 100%;
    --grid-size: 2;
    --grid-gutter: 2.564vw;
    --grid-margin: 0;
    -moz-column-gap: var(--grid-gutter,0);
    column-gap: var(--grid-gutter,0);
    display: grid;
    grid-template-columns: repeat(var(--grid-size),1fr);
    margin-left: var(--grid-margin);
    margin-right: var(--grid-margin)
}

.footer-pattern[data-v-bc58d070] {
    height: 120%;
    left: 51%;
    opacity: .1;
    pointer-events: none;
    position: absolute;
    top: 60%;
    transform: translate(-50%,-50%);
    width: auto;
    z-index: 1
}

.footer-header[data-v-bc58d070] {
    align-items: center;
    display: flex;
    flex-direction: column;
    grid-column: span 2;
    justify-content: center
}

.footer-title[data-v-bc58d070] {
    color: #fff;
    margin: 0 auto 2.625rem;
    text-align: center
}

.footer-title[data-v-bc58d070] strong .--char {
    color: #fff3
}

.header-link[data-v-bc58d070] {
    -webkit-backdrop-filter: blur(27px)!important;
    backdrop-filter: blur(27px)!important;
    background: #ffffff26!important;
    border-radius: 8px;
    color: #fff!important;
    font-family: var(--font-mono);
    padding: 1.5625rem 3.125rem;
    text-transform: uppercase;
    z-index: 1
}

.content-wrapper[data-v-bc58d070],.footer-links[data-v-bc58d070] {
    grid-column: span 2
}

.footer-links[data-v-bc58d070] {
    width: 100%
}

.logo-section[data-v-bc58d070] {
    grid-column: span 2;
    margin-bottom: 2.625rem;
    margin-top: 8.4375rem
}

.terminal-logo[data-v-bc58d070] {
    margin-bottom: 3.75rem;
    width: 8.75rem
}

.gartner-section[data-v-bc58d070] {
    margin-bottom: 0;
    margin-top: 0
}

.gartner-section .gartner-logo[data-v-bc58d070] {
    display: block;
    height: auto;
    margin-bottom: 1rem;
    width: 7.5rem
}

.gartner-section .gartner-text[data-v-bc58d070] {
    color: #fff;
    font-size: .6875rem;
    font-weight: 400;
    line-height: 1.5;
    margin: 0
}

.links-wrapper[data-v-bc58d070] {
    display: flex
}

.links-wrapper .link[data-v-bc58d070] {
    font-size: 1.25rem;
    font-style: normal;
    font-weight: 400;
    letter-spacing: -.0125rem;
    line-height: 1.46
}

.tech-list[data-v-bc58d070] {
    grid-column: 1/span 2
}

.company-list[data-v-bc58d070] {
    grid-column: 3/span 2
}

.links-list[data-v-bc58d070] {
    display: flex;
    flex: 1;
    flex-direction: column
}

.i-links[data-v-bc58d070] {
    line-height: 1.3
}

.label[data-v-bc58d070] {
    align-items: center;
    display: flex;
    font-family: var(--font-mono);
    font-weight: 600;
    gap: 15px;
    margin-bottom: 1.125rem;
    text-transform: uppercase
}

.label[data-v-bc58d070],.link[data-v-bc58d070] {
    color: #fff
}

.footer-contact[data-v-bc58d070] {
    grid-column: span 2;
    margin-top: 8.125rem
}

.contact-text[data-v-bc58d070] {
    color: #586a6a;
    margin-bottom: 1.5625rem
}

.networks-list[data-v-bc58d070] {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 5.128vw
}

.network-link[data-v-bc58d070] {
    align-items: center;
    display: flex;
    gap: min(.521vw,13.3333333333px);
    justify-content: flex-start
}

.network-link img[data-v-bc58d070] {
    margin-right: 5px
}

.network-label[data-v-bc58d070] {
    color: #fff;
    font-family: SuisseIntl;
    font-size: 1.25rem;
    letter-spacing: -.0125rem;
    line-height: 1.2
}

.copyright[data-v-bc58d070],.network-label[data-v-bc58d070] {
    font-style: normal;
    font-weight: 400
}

.copyright[data-v-bc58d070] {
    color: #fff6;
    font-size: .75rem;
    grid-column: span 2;
    letter-spacing: -.0075rem;
    line-height: 1.24;
    margin-top: 2rem
}

.copyright[data-v-bc58d070] p {
    width: 50%
}

.credits[data-v-bc58d070] {
    margin-top: 1.875rem
}

.credits a[data-v-bc58d070] {
    display: contents
}

.credits .rejouice[data-v-bc58d070] {
    display: block;
    height: 100%;
    width: 6.25rem
}

.credits[data-v-bc58d070]:after {
    bottom: .3125rem;
    left: unset;
    right: 0;
    width: 50%
}

.footer.--light[data-v-bc58d070] {
    background-color: gray
}

.footer.--light .footer-title[data-v-bc58d070] {
    color: var(--c-dark-green)
}

.footer.--light .header-link[data-v-bc58d070] {
    background: var(--c-dark-green);
    color: var(--c-dark-green)
}

.footer.--light .terminal-logo[data-v-bc58d070] path {
    fill: var(--c-dark-green)
}

.footer__wrapper[data-v-bc58d070] {
    will-change: transform
}

.footer__height-holder[data-v-bc58d070] {
    position: relative;
    z-index: 2
}

.contact-link[data-v-bc58d070] {
    white-space: nowrap
}

.footer__height-holder.--static[data-v-bc58d070] {
    height: auto!important;
    position: relative
}

.overlay-sticky__wrapper.--static[data-v-bc58d070] {
    display: none
}

.footer__wrapper.--static[data-v-bc58d070] {
    bottom: auto!important;
    position: relative!important;
    transform: none!important;
    width: 100%;
    z-index: auto!important
}

@media (min-width: 1024px) {
    .footer[data-v-bc58d070] {
        --grid-size:12;
        --grid-gutter: min(1.042vw,26.6666666667px);
        --grid-margin: 0;
        -moz-column-gap: var(--grid-gutter,0);
        column-gap: var(--grid-gutter,0);
        display: grid;
        grid-template-columns: repeat(var(--grid-size),1fr);
        margin-left: var(--grid-margin);
        margin-right: var(--grid-margin);
        padding: 14.375rem 4.375rem 1.25rem
    }

    .footer-header[data-v-bc58d070] {
        grid-column: span 12;
        grid-row: 1
    }

    .footer-title[data-v-bc58d070] {
        margin-bottom: min(4.688vw,120px);
        max-width: min(57.292vw,1466.6666666667px)
    }

    .content-wrapper[data-v-bc58d070] {
        grid-column: span 12;
        padding-top: min(15.625vw,400px);
        --grid-size: 12;
        --grid-gutter: min(1.042vw,26.6666666667px);
        --grid-margin: 0;
        -moz-column-gap: var(--grid-gutter,0);
        column-gap: var(--grid-gutter,0);
        display: grid;
        grid-template-columns: repeat(var(--grid-size),1fr);
        margin-left: var(--grid-margin);
        margin-right: var(--grid-margin)
    }

    .footer-links[data-v-bc58d070] {
        grid-column: 6/span 4;
        grid-row: 1
    }

    .logo-section[data-v-bc58d070] {
        grid-column: 1/span 4;
        grid-row: 1;
        margin-bottom: 0;
        margin-top: 0
    }

    .terminal-logo[data-v-bc58d070] {
        margin-bottom: 3.75rem;
        width: 10.5rem
    }

    .gartner-section[data-v-bc58d070] {
        margin-bottom: 0;
        margin-top: 0
    }

    .gartner-section .gartner-logo[data-v-bc58d070] {
        margin-bottom: 1.25rem;
        width: 8.75rem
    }

    .gartner-section .gartner-text[data-v-bc58d070] {
        font-size: .8125rem
    }

    .links-wrapper[data-v-bc58d070] {
        display: grid;
        gap: min(1.042vw,26.6666666667px);
        grid-row: 2;
        grid-template-columns: repeat(4,1fr)
    }

    .label[data-v-bc58d070] {
        margin-bottom: 2rem
    }

    .footer-contact[data-v-bc58d070] {
        grid-column: 10/span 3;
        grid-row: 1;
        margin-top: 0
    }

    .networks-list[data-v-bc58d070] {
        gap: min(1.042vw,26.6666666667px)
    }

    .network-label[data-v-bc58d070] {
        font-size: 1.25rem
    }

    .copyright[data-v-bc58d070] {
        grid-column: 1/span 6;
        grid-row: 3;
        margin-top: 5.9375rem
    }

    .credits[data-v-bc58d070] {
        align-items: flex-end;
        grid-column: 11/span 2;
        grid-row: 3;
        height: -moz-fit-content;
        height: fit-content;
        margin-left: auto;
        margin-top: auto;
        padding-bottom: 0
    }

    .overlay-sticky__wrapper[data-v-bc58d070] {
        background-color: #000;
        height: 100vh;
        height: calc(var(--vh, 1vh)*100);
        left: 0;
        opacity: 0;
        pointer-events: none;
        top: 0;
        width: 100%;
        z-index: 2000
    }

    .footer__wrapper[data-v-bc58d070] {
        bottom: 0;
        position: fixed;
        transform: translateY(100%);
        width: 100%;
        z-index: 3
    }

    .footer__height-holder[data-v-bc58d070] {
        height: 50vh;
        height: calc(var(--vh, 1vh)*50);
        width: 100%
    }
}

@media (max-width: 1023px) {
    .contact-col[data-v-bc58d070] {
        width:22.5rem
    }

    .contact-text[data-v-bc58d070] {
        line-height: 1.15
    }

    .credits[data-v-bc58d070] {
        bottom: 1.875rem;
        position: absolute;
        right: 1.375rem
    }

    .footer__wrapper[data-v-bc58d070] {
        position: relative;
        transform: translateY(0)!important
    }

    .footer__height-holder[data-v-bc58d070] {
        height: unset!important
    }
}
